---
layout: default
---
<div class="container" itemscope itemtype="http://schema.org/Recipe">

  <div class="image-container xs-p2">
    <img itemprop="image" src="{{ page.url | replace:'.html','.jpg' }}" />
  </div>

  <article class="post-content px2">

    <header class="post-header">
      <h1 class="post-title center m1 sm-mt3" itemprop="name">{{ page.title }}</h1>
    </header>

    <div class="px2 mt3 clearfix">
      <div class="sm-col-8 mx-auto" itemprop="description">{{page.content}}</div>
    </div>

    {% for category in page.categories %}
      <p class="clearfix">Category: <span itemprop="recipeCategory">{{ category }}</span></p>
    {% endfor %}

  </article>

</div>

<script type="text/javascript">

  $( document ).ready(function() {

  jQuery.fn.clickToggle = function(a,b) {
  var ab=[b,a];
  function cb(){ ab[this._tog^=1].call(this); }
  return this.on("click", cb);
  };

  $("ul li").append('<input type="checkbox">');
  $("ul li").clickToggle(function(){
    $(this).children("input").prop('checked', true);
    var height = $(this).height();
    var y = $(window).scrollTop();
    $('html, body').animate({scrollTop: y+height+16}, 200);
  }, function(){
    $(this).children("input").prop('checked', false);
    var height = $(this).height();
    var y = $(window).scrollTop();
    $('html, body').animate({scrollTop: y-height-16}, 200);
  });

  });

</script>
